/* Escopo exclusivo da Atividade 1 */

.atv01-container {
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
  }
  
  .atv01-title {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .atv01-letreiro-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .atv01-letreiro {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .atv01-link {
    display: inline-block;
    color: #6c2bd9;
    text-decoration: none;
    font-weight: bold;
  }
  
  .atv01-link:hover {
    color: #8c4fff;
    text-decoration: underline;
  }
  