body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.menu-container {
  background-color: #fff;
  max-width: 400px;
  margin: 60px auto;
  padding: 70px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-container h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.menu-container p {
  font-size: 18px;
  margin-bottom: 24px;
}

.menu-container a {
  display: block;
  text-decoration: none;
  background-color: #f774f7;
  color: black;
  font-weight: bold;
  padding: 14px 12px;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 6px;
  font-size: 20px;
  width: 180px;
  height: 20px; 
  text-align: center;
  transition: background-color 0.3s ease;
}

.menu-container a:hover {
  background-color: #e84be8;
}
